* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: MonumentGrotesk;
  src: url(../public/MonumentGrotesk-Regular.ttf);
}
* {
  font-family: MonumentGrotesk;
}

#parent_image_container {
  cursor: pointer;
}
#child_image {
  border-radius: 0px;
  transition: 500ms;
}
#parent_image_container:hover #child_image {
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -o-border-bottom-right-radius: 25px;
  -ms-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 250px;
}
